# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/.idea/codeStyles/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/index-files/
/index-files/index-1.html
/index-files/index-2.html
/index-files/index-3.html
/index-files/index-4.html
/index-files/index-5.html
/packages/basics/
/packages/basics/bar/
/packages/basics/bar/Foo.html
/packages/basics/bar/package-frame.html
/packages/basics/bar/package-summary.html
/packages/basics/bar/package-tree.html
/packages/basics/foo/
/packages/basics/foo/Bar.html
/packages/basics/foo/package-frame.html
/packages/basics/foo/package-summary.html
/packages/basics/foo/package-tree.html
/packages/basics/kingdom/
/packages/basics/kingdom/Knight.html
/packages/basics/kingdom/package-frame.html
/packages/basics/kingdom/package-summary.html
/packages/basics/kingdom/package-tree.html
/allclasses-frame.html
/allclasses-noframe.html
/constant-values.html
/deprecated-list.html
/help-doc.html
/index.html
/overview-frame.html
/overview-summary.html
/overview-tree.html
/package-list
/script.js
/stylesheet.css
/tekwill-java-fun.iml
